
/* CSS definitions for timescale editor form */

.tsed_highlight {
    background-color: #47C7EA;
}

.tsed_error {
    background-color: #FF7F59;
}

.tsed_active_save {
    background-color: #47C7EA;
}

.tsed_model_match {
    background-color: #9DC2A6;
}

.tsed_model_close {
    background-color: #FAF6A0;
}

.tsed_model_computed {
    background-color: #aaa;
}

.tsed_diff {
    color: #AD2800;
}

.tsed_box_header {
    text-align: center;
    font-size: 1.2em;
}

.tsed_subbox_header {
    font-size: 1.1em;
}

#timescale_content_box {
    border-collapse: collapse;
    border: 2px solid black;
}

.timescale_content_cell {
    border: 2px solid black;
}    

#intervals_box {
    display: block;
    max-height: 400px;
    vertical-align: top;
    overflow: auto;
}

.tsed_column_container {
    padding: 10px;
    vertical-align: top;
}

.tsed_column {
    /* border: 1px solid green;*/
    font-size: 0.8em;
    padding: 10px;
    text-align: center;
}

.tsed_interval {
    border: 1px solid black;
    vertical-align: center;
    min-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.tsed_gap {
    border: 0px;
    font-size: 0.75em;
}

.tsed_column .tsed_selected {
    background-color: #47C7EA;
}

.tsed_ruler_column {
    font-size: 0.8em;
    padding: 2px;
    text-align: left;
}

.tsed_time_mark {
    border-top: 0px;
    border-bottom: 1px solid black;
    min-width: 10px;
    max-width: 10px;
}

.tsed_column .tsed_selected {
    background-color: #47C7EA;
}
.tsed_ages_column {
    font-size: 0.8em;
    padding: 7px;
    text-align: left;
}

.tsed_age_basis {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: bottom;
}

.tsed_column .tsed_selected {
    background-color: #47C7EA;
}

.tsed_ages_column .tsed_selected {
    font-weight: bold;
}

#bound_editor {
    font-size: 0.8em;
    max-height: 200px;
    vertical-align: middle;
    text-align: left;
    padding: 0px;
    border-spacing: 10px;
    border-collapse: separate;
}

#bound_editor hr {
    margin-top: 1px;
    margin-bottom: 1px;
    height: 2px;
}

#bound_editor_msg {
    float: top;
    font-style: italic;
    font-weight: bold;
    font-size: 0.9em;
}

.tsed_spike {
    position: relative;
}


/* .tsed_mark_age { */
/*     position: relative; */
/*     left: 20px; */
/*     top: 10px; */
/* } */

/* .tsed_first_age { */
/*     font-size: 0.8em; */
/*     position: relative; */
/*     left: 20px; */
/*     top: -8px; */
/* } */

.tsed_top_label {
    color: #AD2800;
    padding: 3px;
    border: 1px solid #AD2800;
}


.tsed_top_ref {
    padding: 3px;
}


.tsed_timescale_label {
    background-color: rgba(207, 185, 185, 0.6);
    padding: 0.25em;
}

.tsed_control {
    font-size: 1em;
    /* width: 3em; */
}

.tsed_bounds_row td {
    padding: 10px;
    vertical-align: bottom
}

.tsed_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Partial width */
    height: 100%; /* Partial height */
    /* overflow: auto; */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.tsed_modal_content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.tsed_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.tsed_close:hover,
.tsed_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#editor {
    margin:0.5em 1em 0em 1em;
}

#ts_list,#bounds_pane {
    height: 500px;
    vertical-align: top;
}

#ts_list>div {
    max-height: 100%;
    overflow: auto;
}

#timescales_box {
    border:hidden;
}

#timescales_box>tbody>tr {
    border:1px black;
}

#ts_attrs_box,#bounds_box {
    margin: 1em;
    width: 95%;
}

#bounds_box_header {
    margin: 1em 1em 0 2em;
    width:83%;
    font-weight: 800;
    font-size: 0.8em;
}

#bounds_form {
    margin: 0 0 0 1em;
}

.btn-holder {
    margin: 10px;
}

td.bound_cell {
    position: relative;
}

.spike {
    position: absolute;
}

.dlMessageBox {
    width: 30em;
    margin: 2em;
    text-align: center;
}
